In [52]:
# Import Dependencies
import pandas as pd
import numpy as np

In [53]:
# Set file path for purchase data
input_path = 'resources/purchase_data.csv'

# Read in csv
raw_purch_data = pd.read_csv(input_path, encoding = 'utf-8')
raw_purch_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [54]:
# Gather Unique Players and Total Player Count
unique_players = pd.DataFrame(raw_purch_data['SN'].unique())
total_players = pd.DataFrame(unique_players.count(), columns = ['Total Players'])
total_players

   Total Players
0            576

In [61]:
# Gather relevant variables for in-game purchases
items_unique = pd.DataFrame(raw_purch_data['Item Name'].unique()).count()
avg_price = raw_purch_data['Price'].mean()
total_purchases = len(raw_purch_data.index)
total_revenue = raw_purch_data['Price'].sum()
most_common_item = pd.DataFrame(raw_purch_data['Item Name'].value_counts())

# Build summary table
summary_df = pd.DataFrame({"Total Unique Items": [items_unique.iloc[0]],
                           "Average Item Price": [np.round(avg_price,decimals=2)],
                           "Total Purchases": [total_purchases],
                           "Total Revenue": '$'+str(total_revenue),
                           "Most Common Purchase": [str(most_common_item.index[0])]})
print(summary_df.to_string(index = False))

 Total Unique Items  Average Item Price  Total Purchases Total Revenue Most Common Purchase
                179                3.05              780      $2379.77         Final Critic

In [81]:
# Gender demographics variables
gender_ids = raw_purch_data['Gender'].value_counts()

male_play_bool = raw_purch_data['Gender'] == gender_ids.index[0]
male_players = pd.DataFrame(raw_purch_data['Gender'][male_play_bool]).count()

female_play_bool = raw_purch_data['Gender'] == gender_ids.index[1]
female_players = pd.DataFrame(raw_purch_data['Gender'][female_play_bool]).count()

other_play_bool = raw_purch_data['Gender'] == gender_ids.index[2]
other_players = pd.DataFrame(raw_purch_data['Gender'][other_play_bool]).count()

total_players = raw_purch_data['Gender'].count()

# Build Summary Table
summary_df = pd.DataFrame({'Male':[male_players['Gender'],
                            str(np.round(float(male_players['Gender'] / total_players)*100,decimals=2))+'%'],
                           'Female':[female_players['Gender'],
                            str(np.round(float(female_players['Gender'] / total_players)*100,decimals=2))+'%'],
                           'Other/Non-Disclosed':[other_players['Gender'],
                            str(np.round(float(other_players['Gender'] / total_players)*100,decimals=2))+'%']})
summary_df = summary_df.transpose()
summary_df.columns = ['Count', 'Percentage of Player Base']
summary_df

                    Count Percentage of Player Base
Male                  652                    83.59%
Female                113                    14.49%
Other/Non-Disclosed    15                     1.92%